<header>
  <div class="header__logo">
    <span>⚡</span>
    <span>Harry Potter</span>
  </div>
  <nav class="header__nav">
    <a routerLink="/books" routerLinkActive="active">{{ 'nav.books' | transloco }}</a>
    <a routerLink="/houses" routerLinkActive="active">{{ 'nav.houses' | transloco }}</a>
    <a routerLink="/characters" routerLinkActive="active">{{ 'nav.characters' | transloco }}</a>
  </nav>
  <div class="header__lang">
    <label class="header__lang-option">
      <input
        type="radio"
        tuiRadio
        name="lang"
        value="en"
        [(ngModel)]="currentLang"
        (ngModelChange)="onLangChange($event)"
      />
      EN
    </label>
    <label class="header__lang-option">
      <input
        type="radio"
        tuiRadio
        name="lang"
        value="it"
        [(ngModel)]="currentLang"
        (ngModelChange)="onLangChange($event)"
      />
      IT
    </label>
  </div>
</header>
