<div class="books-toolbar">
  <input
    class="books-search"
    type="text"
    [(ngModel)]="search"
    (input)="onSearch()"
    [placeholder]="'books.searchPlaceholder' | translate"
  />
</div>

<table tuiTable [columns]="columns" tuiSortBy (tuiSortChange)="onSortChange($event)">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'title'" tuiTh [tuiSortable]="true">{{ 'books.col.title' | translate }}</th>
      <th *tuiHead="'releaseDate'" tuiTh [tuiSortable]="true">{{ 'books.col.releaseDate' | translate }}</th>
      <th *tuiHead="'pages'" tuiTh [tuiSortable]="true">{{ 'books.col.pages' | translate }}</th>
      <th *tuiHead="'description'" tuiTh [tuiSortable]="true">{{ 'books.col.description' | translate }}</th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="displayedBooks">
    @for (book of displayedBooks; track book.index) {
      <tr tuiTr>
        <td *tuiCell="'title'" tuiTd>{{ book.title }}</td>
        <td *tuiCell="'releaseDate'" tuiTd>{{ book.releaseDate }}</td>
        <td *tuiCell="'pages'" tuiTd>{{ book.pages }}</td>
        <td *tuiCell="'description'" tuiTd>{{ book.description }}</td>
      </tr>
    }
  </tbody>
</table>

<tui-table-pagination
  [items]="pageSizes"
  [total]="totalItems"
  [page]="page"
  [size]="pageSize"
  (paginationChange)="onPaginationChange($event)"
/>
