<div class="houses">
  @for (house of houses; track house.index) {
    <div
      tuiCardLarge
      appearance="whiteblock"
      [style.border]="'2px solid ' + house.colors[0]">
      <div class="house-card__header">
        <span class="house-card__emoji">{{ house.emoji }}</span>
        <div>
          <div class="house-card__name" [style.color]="getNameColor(house.colors)">{{ house.house }}</div>
          <div class="house-card__founder">{{ 'houses.founder' | transloco }}: {{ house.founder }}</div>
          <div class="house-card__colors">
            {{ 'houses.colors' | transloco }}
            @for (color of house.colors; track color) {
              <span class="color-dot" [style.background]="color"></span>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
