@use '@taiga-ui/styles/utils' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 24px 32px;
  width: 100%;
}

tui-dialog {
  border: 3px solid var(--dialog-house-color, transparent) !important;
  border-radius: var(--tui-radius-l) !important;
}

tui-hint:has(.house-hint) {
  padding: 0;
  background: transparent;
  box-shadow: none;

  &::before {
    display: none;
  }
}